<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>CloudForest</title>
	<meta name="application-name" content="CloudForest">
	<meta name="author" content="Nicholas Crawford">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/base.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/skeleton.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/layout.css')}}">

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
	<link rel="apple-touch-icon" href="{{url_for('static', filename='images/apple-touch-icon.png')}}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='images/apple-touch-icon-72x72.png')}}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='images/apple-touch-icon-114x114.png')}}">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
        {# <div class="sixteen columns"> #}
        {#  <h1 class="remove-bottom" style="margin-top: 40px">CloudForest</h1> #}
        {#  <h5>Version 0.1 beta</h5> #}
        {# </div> #}
        <div class='sixteen columns' id='header_image'>
            <img src="{{url_for('static', filename='images/cloudforest_header_v2.gif')}}"/>
        </div>
		<div class='sixteen columns remove-bottom' id='tab_select'>
    		<ul class="tabs">
              <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
              <li><a class="active" href="#Main">Main</a></li>
              <li><a href="#Instructions">Instructions</a></li>
              <li><a href="#Contact">Contact</a></li>
            </ul>
        </div>
        
        <!-- Standard <ul> with class of "tabs-content" -->
        <ul class="tabs-content">
          <!-- Give ID that matches HREF of above anchors -->
          <li class="active" id="Main">
            <div class="eight columns" style="margin-top: 20px;">
    			<h3>CloudForest</h3>
    			<div class='subheader' style="margin-bottom: 20px;">Version 0.1 beta</div>
                <p>To infer phylogenies from thousands of DNA sequence alignments it is
                becoming increasingly necessary to run the analyses on large computer
                clusters. This is because measuring topology support requires running
                bootstrap replicates. This quickly becomes far too computationally
                expensive for a single machine. For example, a dataset consisting of
                1,000 alignments would require 100,000 independent trees to be
                inferred. Assuming it takes ~10 seconds per tree this works out to
                115.7 days to run the analysis on a single machine. However, if the
                analysis is spread across 20 processors this time is reduced to 5.8
                days. If 250 processors are used, the whole analysis will run in 0.46
                days (= 11.1 hours) an approximately 250 fold improvement in <a
                href="http://en.wikipedia.org/wiki/Wall_clock_time">wall clock
                time</a>.</p>
                
                 <p>Running analyses like this, however, are not without their own
                unique problems: available computational resources at most academic
                institutions and processor (node) failures, in particular, can be
                limiting. To surmount the first issue we have written software that can
                run on <a href="http://aws.amazon.com/elasticmapreduce/">Amazon&#8217;s
                computer clusters</a> (i.e., AWS). Yes, that&#8217;s right, it&#8217;s
                possible to create <a
                href="http://arstechnica.com/business/news/2011/09/30000-core-cluster-built-on-amazon-ec2-cloud.ars">massive
                computer clusters</a> using <a
                href="http://aws.amazon.com/ec2/">Amazon&#8217;s cloud computing</a>
                resources. Using AWS removes the cluster maintenance and setup and
                allows the scientist to focus instead on the data production and post
                analysis. To deal with processor failures, a common issue with large
                multiprocessor analyses, we use a cluster running hadoop. The <a
                href="http://wiki.apache.org/hadoop/ProjectDescription">hadoop
                framework</a> automatically handles partial cluster failures and moves
                jobs stuck on hung nodes to free nodes. </p>
                
                 <p>The software available here will run analyses on AWS, your own
                hadoop cluster, or on your local computer. To ease the submission
                process to AWS we provide a webform that will automatically submit your
                data to AWS for analysis.</p>

		    </div>
    		<div class="eight columns" style="margin-top: 20px;">
    			<h3 class='offset-by-two' style="margin-bottom: 40px;">Submit Job to AWS</h3>
                
                <!-- Form Starts Here -->
                <form action='' method="POST">
                    <fieldset>
                  
                  {% if form.aws_id.errors %}
                  <div class="row remove-bottom">
    			  	   <div class='three columns offset-by-three'>
    			  	   <ul class="errors">{% for error in form.aws_id.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    			  	   </div>
    			  </div>
				 {% endif %}
                  
                  <div class="row remove-bottom">
                      <div class='three columns'>{{ form.aws_id.label }}</div>
                      <div class='four columns'>{{ form.aws_id }}</div>
                  </div>

               	  {% if form.aws_secret_key.errors %}
                  <div class="row remove-bottom">
    			  	   <div class='three columns offset-by-three'>
    			  	   <ul class="errors">{% for error in form.aws_secret_key.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    			  	   </div>
    			  </div>
				 {% endif %}

                  <div class="row remove-bottom">
                      <div class='three columns'>{{ form.aws_secret_key.label }}</div>
                      <div class='four columns'>{{ form.aws_secret_key(style="margin-bottom:0px;") }}</div>
                  </div>
                               
                  <div class='row'>
                      <div class="form-comment">
                          <a href='https://console.aws.amazon.com/ec2/home#c=EC2&s=KeyPairs'>Look it up</a>
                      </div>
                  </div>
                    
                  {# <div class='row'> #}
                  {#     <div class='form-comment'> #}
                  {#         <a href='http://placeholder.link.com'>Check credentials...</a>  #}
                  {#         {# get javascript from here: http://bio-cloud-1449786154.us-east-1.elb.amazonaws.com/cgi-bin/myrna.pl #}
                  {#     </div> #}
                  {# </div> #}
                  
                                    
                  <div class="row remove-bottom">
                      <div class='three columns remove-bottom'>{{ form.aws_region.label }}</div>
                      <div class='four columns remove-bottom'>{{ form.aws_region  }}</div>
                  </div>
                     
                  
                  <div class='row offset-by-two' style="padding-right: 48px;"><hr></div>
                  
                 {% if form.input_url.errors %}
                  <div class="row remove-bottom">
    			  	   <div class='three columns offset-by-three'>
    			  	   <ul class="errors">{% for error in form.input_url.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    			  	   </div>
    			  </div>
				 {% endif %}
				 
                  <div class="row remove-bottom">
                      <div class='three columns'>{{ form.input_url.label }}</div>
                      <div class='four columns'>{{ form.input_url(value="s3://") }}</div>
                  </div>
                  
                 {% if form.output_url.errors %}
                  <div class="row remove-bottom">
    			  	   <div class='three columns offset-by-three'>
    			  	   <ul class="errors">{% for error in form.output_url.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    			  	   </div>
    			  </div>
				 {% endif %}
                  
                  <div class="row remove-bottom">
                      <div class='three columns'>{{ form.output_url.label }}</div>
                      <div class='four columns'>{{ form.output_url(value="s3://") }}</div>
                  </div>
                                      
                  <div class='row offset-by-two' style="padding-right: 48px;"><hr></div>
                     
                  <div class="row remove-bottom">
                      <div class='three columns'>{{ form.job_name.label }}</div>
                      <div class='four columns'>{{ form.job_name }}</div>
                  </div>
                  
                  <div class="row remove-bottom">
                      <div class='three columns'>{{ form.job_type.label }}</div>
                      <div class='four columns'>{{ form.job_type }}</div>
                  </div>
                  
                  <div class="row remove-bottom">
                      <div class='three columns'>{{ form.ec2_instance_type.label }}</div>
                      <div class='four columns'>{{ form.ec2_instance_type(style="margin-bottom: 0px;") }}</div>
                  </div>
                  
                  <div class='row'>
                      <div class='form-comment'>
                          Currently only one option.
                    </div>
                  </div> 
                  
                  
                  <div class="row">
                      <div class='three columns'>{{ form.mraic.label }}</div>
                      <div class='four columns'>{{ form.mraic }}</div>
                  </div>

				  <div class="row remove-bottom">
                      <div class='three columns'>{{ form.bootstraps.label }}</div>
                      <div class='four columns'>{{ form.bootstraps }}</div>
                  </div>
                  
                  <div class='row offset-by-two' style="padding-right: 48px;"><hr></div>
                  
				  <div class="row remove-bottom">
                      <div class='three columns'>{{ form.map_tasks.label }}</div>
                      <div class='four columns'>{{ form.map_tasks }}</div>
                  </div>

				  <div class="row remove-bottom">
                      <div class='three columns'>{{ form.reduce_tasks.label }}</div>
                      <div class='four columns'>{{ form.reduce_tasks }}</div>
                  </div>
                  
                  <div class='row offset-by-two' style="padding-right: 48px;"><hr></div>
                                    
                  <!-- Print Messages (e.g., Success) -->
                  <div class='row'>
                   {% with messages = get_flashed_messages() %}
                     {% if messages %}
                        <div class='offset-by-three'>
                        <ul class=flashes>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                        </div>
                      {% endif %}
                    {% endwith %}
                  </div> 
                                
                  <div class="row">
                      <div class='offset-by-three'><input type=submit></div>
                  </div>
                  </fieldset>
                </form>
    		</div>
    	<div class="sixteen columns"><hr></div>
    	    
    		
        </li>  {# end of Main Tab #}
          
          <li id="Instructions">
            <div class="six columns">
                These still need to be written. In all likelihood this will simply be a link to the PyPi repository 
                and Sphinx documentation.
            </div>
          </li>

          	      
          <li id="Contact">
          
          	<div class="six columns">
          	
                <p>CloudForest was designed and implemented by <a href="www.ngcrawford.com">Nicholas Crawford</a>
                with help from <a href="http://b.atcg.us/">Brant Faircloth</a>.</p>
                
                 <p><a href="travisg.myweb.uga.edu/Site/Welcome.html">Travis Glenn</a>, <a
                href="http://faculty.oxy.edu/mccormack/">John McCormack</a>, <a
                href="www.museum.lsu.edu/brumfield.html">Robb Brumfield</a> all contributed ideas and
                suggestions.</p>
                
                 <h4>Contact Details:</h4>
                
                 <ul> 
                     <li>Email: ngcrawford@gmail.com</li> 
                     <li>Website: www.ngcrawford.com</li>
                 </ul>
                
                 <h4>Support:</h4>
                
                 <p>This work was supported by an <a href="http://aws.amazon.com/education/">Amazon Education
                Grant</a> and grants from <a href="http://www.nsf.gov/">NSF</a></p>
                
                 <img src="http://www.nsf.gov/pubs/1999/nsf99167/image8.gif" WIDTH=59 HEIGHT=59 alt="NSF" id="NSF" title="NSF" />
          	</div>  
          	          
          </li>
        </ul>
		

	</div><!-- container -->



	<!-- JS
	================================================== -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="{{url_for('static', filename='javascripts/tabs.js')}}"></script>

<!-- End Document
================================================== -->
</body>
</html>